.tabs {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid #eee;
  composes: clearfix from '../../base.css';
  
}

.tab {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  height: 60px;
}

.link {
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}
