* {
  box-sizing: border-box;
}

@font-face{font-family:'TowerDingtalk';src: url('./assets/fonts/dingtalk.otf') format('opentype'), url('./assets/fonts/dingtalk.ttf') format('truetype');font-weight:normal;font-style:normal}

:global .dt {
  display:inline-block;
  font:normal normal normal 14px/1 'TowerDingtalk';
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
:global .dt-spin{-webkit-animation:dt-spin 2s infinite linear;animation:dt-spin 2s infinite linear}
:global .dt-pulse{-webkit-animation:dt-spin 1s infinite steps(8);animation:dt-spin 1s infinite steps(8)}
:global @-webkit-keyframes dt-spin{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
  100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
:global @keyframes dt-spin{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
  100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}

:global .dt-ctask-add:before{content:'\f000'}
:global .dt-ctask-add-big:before{content:'\f001'}
:global .dt-ctask-assign:before{content:'\f002'}
:global .dt-ctask-bottom:before{content:'\f003'}
:global .dt-ctask-date:before{content:'\f005'}
:global .dt-ctask-open:before{content:'\f00a'}
:global .dt-ctask-project:before{content:'\f00c'}
:global .dt-ctask-right:before{content:'\f00d'}
:global .dt-ctask-spinner:before{content:'\f00f'}
:global .dt-ctask-logo:before{content:'\f011'}
:global .dt-ctask-nostart:before{content:'\f013'}
:global .dt-ctask-404:before{content:'\f01d'}
:global .dt-ctask-file:before{content:'\f01e'}
:global .dt-ctask-remove:before{content:'\f01f'}
:global .dt-ctask-star-empty:before{content:'\f020'}
:global .dt-ctask-star:before{content:'\f021'}
:global .dt-ctask-user:before{content:'\f022'}
:global .dt-ctask-tasks:before{content:'\f023'}
:global .dt-ctask-check:before{content:'\f024'}
:global .dt-ctask-clock:before{content:'\f025'}
:global .dt-ctask-list:before{content:'\f027'}
:global .dt-ctask-dynamic:before{content:'\f028'}

.text {
  color: #222;
}
.text-l {
  color: #4a4a4a;
}
.text-ll {
  color: #9b9b9b;
}
.inf-text {
  color: #4298ba;
}
.err-text {
  color: #d0021b;
}

.border-color {
  border-color: #E8E8E8;
}
.border-color-l {
  border-color: #4298BA;
}

.bg-color {
  background-color: #f8f8f8;
}
.bg-color-l {
  background-color: #EDF2F2; 
}
.bg-color-ll {
  background-color: #fff;
}
.bg-ui-color {
  background-color: #5CCCB9;
}
.bg-ui-secondary-color {
  background-color: #5FB89F;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hide-text {
  text-indent: -9999px;
  overflow: hidden;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/*.at2x($path, $w: auto, $h: auto, $ext: "png") {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: image-url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
         all and (-o-min-device-pixel-ratio: 3/2),
         all and (min--moz-device-pixel-ratio: 1.5),
         all and (min-device-pixel-ratio: 1.5) {
           background-image: image-url("#{$at2x_path}");
           background-size: $w $h;
         }
}*/


/*.tap-highlight($color: transparent) {
  -webkit-tap-highlight-color: $color;
}*/